
<div class="grid">
  <div class="info">
    <div>
      <h1>TETRIS</h1>
      <p>Score: {{ points }}</p>
      <p>Lines: {{ lines }}</p>
      <p>Level: {{ level }}</p>
      
    </div>
    <button class="btn" (click)="play()">
      <span class="front">
        Play
      </span>
    </button>
  </div>
  <div class="canvas">
    <canvas #next class="next"></canvas>
    <canvas #board class="game-board"></canvas>
    <div class="controllers">
      <button class="hidden"></button>
      <button class="btn top" (click)="doSomethingByCode('ArrowUp')">
        <span class="front"></span>
      </button>
      <button class="hidden2"></button>
      <button class="btn left" (click)="doSomethingByCode('ArrowLeft')">
        <span class="front"></span>
      </button>
      <button class="btn bottom" (click)="doSomethingByCode('ArrowDown')">
        <span class="front"></span>
      </button>
      <button class="btn right" (click)="doSomethingByCode('ArrowRight')">
        <span class="front"></span>
      </button>
      <button class="btn space" (click)="doSomethingByCode(' ')">
        <span class="front"></span>
      </button>
    </div>
  </div>
  
</div>