<ul class="menu" [class.opened]="menuOpened">
  <li class="menu__item">
    <button 
      class="menu__btn"
      routerLink="tetris"
      routerLinkActive="active"
    >
      <svg width="16" height="16" viewBox="0 0 512.032 512.032">
        <polygon style="fill:#14C18B;" points="436.232,512 275.984,512 275.984,336.128 75.8,336.128 75.8,0 236.048,0 236.048,175.872   436.232,175.872 "/>
        <g style="opacity:0.15;">
          <rect x="75.8" width="28.92" height="336.16"/>
        </g>
        <g style="opacity:0.15;">
          <rect x="275.984" y="336.16" width="28.92" height="175.872"/>
        </g>
      </svg>
      <span class="title">Tetris</span>
    </button>
  </li>
</ul>
